header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: #B19470;
    transition: all 300ms ease-in-out;

    &:hover {
      color: #76453B;
    }
  }
}