header {
  padding: 1.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  a {
    color: #B19470;
    transition: all 300ms ease-in-out;

    &:hover {
      color: #76453B;
    }
  }
}