@import './../../../assets/scss/variables.scss';

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: $box-shadow;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: $tan;
    transition: all 300ms ease-in-out;

    &:hover {
      color: $brown;
    }
  }
}